@media screen and (max-width:480px) {

    body {
        box-sizing: border-box;
        /* width: 100vw;
        font-size: 100%; */
    }

    .row::after {
        content: "";
        clear: both;
        display: table;
    }

    /* For mobile phones: */
[class*="headersection-home"] {
    width: 100%;
    height: auto;
  }

  .imgs_container {
    width: 100%;
    height: auto;
}

  [class*="section-about_us"] {
    width: 100%;
  }  

    /* end_bottom-bar */

                                                /* start-about-us_section */

    .about-us_top_section {
        width: 90%;
        height: 125px;
        padding: 0;
        margin-left: -30px;
        border-top-left-radius: 100px;
    }                                           

    .about-us_title  {
        width: 100%;
        margin-left: -40px;
        font-size: 30px;
    }

    .about-us_heading {
        width: 100%;
        margin-left: 45px;
        font-size: 22px;
    }

    .about-us_container {
        width: 90%;
        margin: -150px 0 0 -30px;
    }

    .imgs_container_text-left_top {
        width: 340px;
        height: 200px;
    }

    .imgs_container_text-left_bottom {
        width: 340px;
        height: 200px;
        margin-top: -260px;
        border: 1px solid #000;
    }

    .imgs_container_text-right {
        width: 325px;
        height: 200px;
        top: 235px;
    }

    .imgs_container {
        width: 160px;
        height: 140px;
        border: 1px solid #000;
    }

    .text_container {
        width: 200px;
        height: 200px;
        border: 1px solid #000;
    }
    
    .heading_container {
        width: 150px;
        font-size: 14px;
        border: 1px solid #000;
    }
    
    .paragraph_container {
        width: 150px;
        height: 120px;
        font-size: 12px;
        border: 1px solid #000;
    }

    /* start_footer */

    .footer_container {
        margin-right: 50px;
    }

    .footer_text {
        font-size: 10.5px;
        padding: 0px 20px;
    }

    .img_container {
        width: 100px;
        height: 80px;
        margin-right: 40px;
    }

    .back-to-top {
        padding: 4px 8px;
        font-size: 10.5px;
        text-align: center;
    }
}