/* COLORS

#d3d3d3 = lightgray
#a9a9a9 = darkgray
#d1d1d1 = gray82
#8a8a8a = gray54
#3a3a3a = dark red
#074fa1 = endeavour/cyan blue 
#12a112 = la palma/luminous green

*/


/* FONT_STYLES
    font-family:  'Roboto', sans-serif;
    font-family: 'Cantarell', sans-serif; 
    font-family: 'Source Sans 3', sans-serif;
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    width: 100vw;
    font-size: 100%;
    background-color: #d3d3d3;
}

html {
    scroll-behavior: smooth;
}

.navsection {
    width: 100vw;
}

.navsection_top_bar_container {
    width: 100vw;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navsection_left_text_container {
    width: 60%;
    height: 100%;
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.navsection_text {
    width: 545px;
    height: 20px;
    font-size: 14px;
    border-radius: 20px;
    background-color: #fff;
    color: #a4a4a4;
    font-family:  'Ubuntu', sans-serif; 
    font-weight: 300;
    border: 1px solid darkgrey;
    text-align: center;
}

.navsection_right_social_container {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navsection_social_info-brand_container {
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: none;   
}

.navsection_social_brand {
    border-radius: 20px;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;  
}

.navsection_social_brand:hover {
    font-size: 30px;
}

hr {
    width: 80%;
    margin-left: 120px;
}

/* end_navsection_top */

/* start-navsection_bottom */

.navsection_bottom-bar {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
}

.navsection_container_left {
    width: 38%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.navsection_logo_img_container {
    width: 160px;
    height: 100%;
}

.navsection_logo_img {
    width: 100%;
    height: 100%;
    object-fit: 160px 100px;
}

.company-info-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 130px;
    z-index: 1;
    
}

.company-name {
    width: 360px;
    font-size: 44px;
    letter-spacing: 1.35px;
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 300;
}

.company-slogan {
    width: 300px;
    font-size: 18px;
    padding: 2px;
    margin-top: -10px;
    letter-spacing: 1.35px;
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 300;
}

.navsection_container_right {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.navsection_links_container {
    width: 94%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px; 
}

.navsection_sub_link {
    text-decoration: none;
    color: #074fa1;
    font-size: 18px; 
    padding: 10px; 
    font-family: 'Cantarell', sans-serif;
    font-weight: 400;
}

.navsection_sub_link:hover {
    text-decoration: none;
    color: #12a112dd;
    border: 2px solid #12a112dd;   
}

/* end-navsection */

/* start-contactsection_A */

.section_contact {
    width: 100vw;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../images/contact-us-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: -550px;
}

.back-down {
    margin-left: -605px;
    padding: 14px 16px;
    cursor: pointer;
    text-align: center;
}

.back-down:hover {
    border-radius: 50%;
    background-color: #ffffffd8;
    font-size: 34px;
}

.to-bottom {
    color: #000;
    text-decoration: none;
    font-size: 30px;
}

.section_contact_container {
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.section_contact_container_top {
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    border-top-left-radius: 150px;
    border-bottom-right-radius: 150px;
}

.section_contact_inside-top_container {
    width: 100%;
    height: 250px;
    padding: 20px 0 0 100px;
    background-color: #ffffff96;
    border-top-left-radius: 150px;
    animation-name: move-in-left;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
}

@keyframes move-in-left {
    100% {
        opacity: 0;
        transform: translateY(-10rem);
    }

    80% {
        transform: translateY(22rem);
    }

    0% {
        opacity: 1;
        transform: translate(0);
    }
}

.section_contact_title {
    margin-bottom: 40px;
    font-size: 55px;
    font-family: 'Cantarell', sans-serif;
    font-weight: 900;
}

.section_contact_container_heading {
    padding-left: 100px;
    font-size: 40px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    color: #074fa1;
}

/* end-contactsection_A */

/* start-section_contact_form_container */

.section_contact_form_container {
    width: 100%;
    padding: 80px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffffaf;
    border-bottom-right-radius: 150px;
}

.section_contact_form_container_left {
    width: 50%;
    height: 550px;;
    padding: 0 0 30px 35px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    border: 10px solid #000;
    animation-name: move-in-left;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}

.section_contact_form_container_left:hover {
    background-color: #ffffffa7;
    border: 10px solid rgb(7, 79, 161);
}

@keyframes move-in-left {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.section_contact_form {
    height: 30px;
    display: block;
    margin-top: 40px;
    font-family: 'Cantarell', sans-serif;
    font-weight: 600;
}

.contact_form_input {
    width: 90%;
    height: 40px;
    padding: 10px;
    border: none;
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 200;
    background-color: transparent;
    border-bottom: 1px solid #3a3a3a;
}

.contact_form-button {
    background-color: #fff;
    display: block;
    margin-top: 20px;
    font-size: 26px;
    border-radius: 20px;
    padding: 10px 45px;
    background-color: transparent;
    border: 1px solid #3a3a3a;
}

.contact_form-button:hover {
    background-color: #3a3a3a;
    color: #fff;
    border: none;
}

.form_link {
    text-decoration: none;
}

.form_submission {
    padding: 10px 45px;
    color: black;
}

.form_submission:hover {
    color: #fff;
}

/* end-section_contact_form_container_left */

/* start-section_contact_form_container_right */

.section_contact_form_container_right {
    width: 48%;
    height: 605px;
    padding-bottom: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: move-in-right;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}

@keyframes move-in-right {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform: translateX(2rem);
    }

    100% {
        opacity: 1;
        transform: translate(-0);
    }
}

.section_contact_form_info-container {
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}



.section_contact_location-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.section_contact_location-title {
    margin-bottom: 20px;
    font-size: 34px;
    font-family: 'Cantarell', sans-serif;
    font-weight: 600;
    color: rgb(7, 79, 161);
}

.section_contact_location-text {
    font-size: 19px;
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 400;
    line-height: 1.5;
}

.section_contact_location-middle-text {
    margin-top: 20px;
    font-size: 19px;
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 400;
    line-height: 1.5;
}

.section_contact_location-heading {
    font-size: 28px;
    margin-top: 15px;
    margin-bottom: 10px;
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 600;
    color: rgb(7, 79, 161);
}

.section_contact_location-bottom-text {
    width: 175px;
    height: 175px;
    padding: 18px;
    font-size: 24px;
    line-height: 1.25;
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 400;
    border-radius: 50%;
    background-color: #ffffff91;
    animation-name: change;
    animation-duration: 4s;
    animation-iteration-count: 3;
    box-shadow: 4px 4px 4px 4px;
    text-align: center;
}



@keyframes change {
    0%   {background-color: #ffffff91;}
    /* 25%  {background-color: rgb(141, 141, 58);} */
    50%  {background-color: rgb(7, 79, 161);}
    100% {background-color: #3a3a;}
  }


/* end-contact-section */

/* start-contact-map-section */

.section_contact_container_bottom {
    width: 100vw;
    height: 350px; 
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: move-in-bottom;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 3s;
}

@keyframes move-in-bottom {
    0% {
        opacity: 0;
        transform: translateY(10rem);
    }

    80% {
        transform: translateY(-2rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.section_contact_map-host {
    width: 100%;
    height: 340px;
    display: flex;
    flex-direction: column;
}

.contact_map-host_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

iframe {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: .8;
}

/* end-contact-map-section */

/* end-contactsection-A */

/* start-footer-section */

.footersection {
    width: 100vw;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.footer_container {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_text {
    width: 36%;
    padding: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

.footersection_container-wrapper {
    width: 25%;
    height: 100px;
    display: flex;
    align-items: center;
    position: relative;
}

.footersection_logo_img_container {
    width: 120px;
    height: 100px;
}

.footersection_logo_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.footer-company-info-container {
    position: absolute;
    left: 100px;
}

.company-name_abc {
    font-size: 24px;
    letter-spacing: 1.35px;
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 300;
}

.company-slogan-abc {
    font-size: 12px;
    letter-spacing: 1.35px;
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 300;
}

.back-to-top {
    width: 20%;
    margin-right: 40px;
    padding: 14px 16px;
    cursor: pointer;
}

.back-to-top:hover {
    border-radius: 50%;
    background-color: #d1d1d195;
    font-size: 34px;
}

.to-top {
    color: #000;
    text-decoration: none;
    font-size: 30px;
}

/* end-footer-section */