/* COLORS

#d3d3d3 = lightgray
#a9a9a9 = darkgray
#d1d1d1 = gray82
#8a8a8a = gray54
#3a3a3a = dark red
#074fa1 = endeavour/cyan blue 
#12a112 = la palma/luminous green

*/

/* FONT-STYLES 
font-family: 'Cantarell', sans-serif;
font-family: 'Fira Sans Extra Condensed', sans-serif;
font-family: 'Source Sans 3', sans-serif;
font-family: 'Ubuntu', sans-serif;
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    width: 100vw;
    font-size: 100%;
    background-color: #d3d3d3;
    
}

html {
    scroll-behavior: smooth;
}

.navsection {
    width: 100vw;
}

.navsection_top_bar_container {
    width: 100vw;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navsection_left_text_container {
    width: 60%;
    height: 100%;
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.navsection_text {
    width: 535px;
    height: 20px;
    font-size: 14px;
    padding-left: 10px;
    border-radius: 20px;
    background-color: #fff;
    color: #a4a4a4;
    font-family:  'Ubuntu', sans-serif;
    font-weight: 300;
    border: 1px solid darkgrey;
}

.navsection_right_social_container {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navsection_social_info-brand_container {
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: none;   
}

.navsection_social_brand {
    border-radius: 20px;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;  
}

.navsection_social_brand:hover {
    font-size: 30px;
}

hr {
    width: 80%;
    margin-left: 120px;
}

/* end_navsection_top */

                                     /* start-navsection_bottom */

.navsection_bottom-bar {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
}

.navsection_container_left {
    width: 38%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.navsection_logo_img_container {
    width: 160px;
    height: 100%;
}

.navsection_logo_img {
    width: 100%;
    height: 100%;
    object-fit: 160px 100px;
}

.company-info-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 130px;
    z-index: 1;
    
}

.company-name {
    width: 360px;
    font-size: 44px;
    letter-spacing: 1.35px;
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 300;
}

.company-slogan {
    width: 300px;
    font-size: 18px;
    padding: 2px;
    margin-top: -10px;
    letter-spacing: 1.35px;
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 300;
}

.navsection_container_right {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.navsection_links_container {
    width: 94%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px; 
}

.navsection_sub_link {
    text-decoration: none;
    color: #074fa1;
    font-size: 18px; 
    padding: 10px; 
    font-family: 'Cantarell', sans-serif;
    font-weight: 400;
}

.navsection_sub_link:hover {
    text-decoration: none;
    color: #12a112dd;
    border: 2px solid #12a112dd;   
}

/* end-navsection */

                                                        /* start-about-us-section */

.section_about_us {
    width: 100vw;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
     background-image:  linear-gradient(
        to right,
        #ffffff95,
        #fffffff2
    ), url(../images/about-bg.jpg);
    background-size: cover;
    background-position: center;
}

.about_us_content_container {
    width: 100vw;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about_info-container {
    width: 90vw;
    height: 250px;
    padding: 65px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    background-color: #ffffff8d;
    border-top-right-radius: 200px;
    border-bottom-left-radius: 150px;
}

.about_info-title {
    font-size: 45px;
    font-family: 'Cantarell', sans-serif;
    font-weight: 800;
}

.about_info-heading {
    padding-left: 100px;
    font-size: 35px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    color: #074fa1;
}

.about_us_imgs-container {
    width: 100vw;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../images/about-us-slide1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -150px;
    animation-name: change;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

@keyframes change {
    0%   {background-image: url(../images/about-us-slide1.jpg);}
    25%  {background-image: url(../images/about-us-slide2.avif);}
    50%  {background-image: url(../images/about-us-slide3.jpg);}
    100% {background-image: url(../images/about-us-slide4.jpg);}
}

.back-down {
    margin-left: 20px;
    padding: 14px 16px;
    cursor: pointer;
    text-align: center;
}

.back-down:hover {
    border-radius: 50%;
    background-color: #ffffff8d;
    font-size: 34px;
}

.to-bottom {
    color: #000;
    text-decoration: none;
    font-size: 30px;
}

.container_text {
    width: 100vw;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.container_text .container_paragraph:nth-child(1) {
    background-image: linear-gradient(
        to right,
        #ffffff,
        #ffffff70
    ), url(../images/our-history.avif);
    background-position: center;
    background-size: cover;
}

.container_text .container_paragraph:nth-child(3) {
    background-image: linear-gradient(
        to right,
        #ffffff,
        #ffffff70
    ), url(../images/our-vision.jpg);
    background-position-y: center; 
    background-size: cover;
}

.container_text .container_paragraph:nth-child(5) {
    background-image: linear-gradient(
        to right,
        #ffffff,
        #ffffff70
    ), url(../images/our-purpose.jpeg);
    background-position: center; 
    background-size: cover;
}

.container_text .container_paragraph:nth-child(7) {
    background-image: linear-gradient(
        to right,
        #ffffff,
        #ffffff70
    ), url(../images/our-mission.webp);
    background-position: center; 
    background-size: cover;
}

.container_paragraph {
    width: 90vw;
    height: 250px;
    /* padding: 0 0 40px 0; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    line-height: 1.7;
    background-color: #d1d1d195;
    border-top-left-radius: 150px;
    border-bottom-right-radius: 250px;
    border: 4px solid #fff;
}

.about_us_heading {
    padding-top: 40px;
    font-size: 35px;
    font-family: 'Cantarell', sans-serif;
    font-weight: 800;
}

.about_us_paragraph {
    width: 80%;
    padding: 0 50px 40px 50px;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-weight: 400;
    letter-spacing: 1.15px;
    color: #000;
}

.section_about_our-team {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section_about_our-team_container {
    width: 90vw;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: url(../images/team-img.jpg);
    background-size: cover;
    background-position-y: -200px;
    background-repeat: no-repeat;
    border-bottom-right-radius: 250px;
}

.section_about_our-team_title-heading_container {
    width: 100%;
    height: 160px;
    padding: 35px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.about_our-team_title {
    font-size: 35px;
    font-family: 'Cantarell', sans-serif;
    font-weight: 600;
}

.about_our-team_heading {
    font-size: 28px;
    padding-left: 100px;
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 600;
}

.about_our-team_info-container {
    width: 90vw;
    height: 340px;
    padding: 20px 0 0 100px;
    line-height: 1.7;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.about_our-team_info-heading {
    font-size: 24px;
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 600;
}

.about_our-team_info-list {
    font-size: 18px;
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 600;
}

.about_our-team_comment {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    font-size: 22px;
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 600;
}

.about_our-team_staff-button {
    padding: 12px 75px;
    background-color: #1e821e;
    border: none;
}

.about_our-team_staff-button:hover {
    background-color: #a9a9a9;
    padding: 14px 85px;
}

.our-team_staff-visuals {
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}

.our-team_view-here {
    color: #000;
    text-decoration: none;
}

                                                /* end-our-team-section */

/* start-footersection */

.footersection {
    width: 100vw;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.footer_container {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_text {
    width: 36%;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

.footersection_container-wrapper {
    width: 25%;
    height: 100px;
    display: flex;
    align-items: center;
    position: relative;
}

.footersection_logo_img_container {
    width: 120px;
    height: 100px;
}

.footersection_logo_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.footer-company-info-container {
    position: absolute;
    left: 100px;
}

.company-name_abc {
    font-size: 24px;
    letter-spacing: 1.35px;
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 300;
}

.company-slogan-abc {
    font-size: 12px;
    letter-spacing: 1.35px;
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 300;
}

.back-to-top {
    width: 20%;
    margin-right: 40px;
    padding: 14px 16px;
    cursor: pointer;
}

.back-to-top:hover {
    border-radius: 50%;
    background-color: #d1d1d195;
    font-size: 34px;
}

.to-top {
    color: #000;
    text-decoration: none;
    font-size: 30px;
}

/* end-footersection */